html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}
a.one:link {color:#FFA319;}
a.one:visited {color:#009933}
a.one:hover {color:#003300;}

a.two:link {color:#CCFF33;}
a.two:visited {color:#0000ff;}
a.two:hover {color:#CCFF33;}

a.three:link {color:#CCFF33;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ff0000;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}

a.five:link {color:#ff0000;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}
#menu_container
{ height: 100px;
  background: #f9f5f6;
  background: -moz-linear-gradient(#f0f2ef, #f0f2ef);
  background: -o-linear-gradient(#e6eae5, #d1dbcf);
  background: -webkit-linear-gradient(#dff4db, #e3e7e3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}  
  
#menubar
{ width: 1000px;
  height: 10px;
  text-align: center; 
  margin: 0 auto;
  } 
  
  
