html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

#menu_container
{ height: 200px;
  background: #227412;
  background: -moz-linear-gradient(#57B442, #227412);
  background: -o-linear-gradient(#57B442, #227412);
  background: -webkit-linear-gradient(#57B442, #227412);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}  
  
#menubar
{ width: 940px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  } 
  
  
